.postBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--background);
    padding-right: 10px;
}

.postBox > form {
    display: flex;
    flex-direction: column;
}

.postBox__input {
    padding: 20px;
    display: flex;
}

.postBox__input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}

.postBox__postButton {
    background-color: var(--main-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 160px !important;
    font-size: 18px !important;
    padding-right: 20px !important;
}

.postBox__imageInput{
    margin-left: 80px;
    font-size: 20px;
    border: none;
}